<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
</head>

<body>
  <div
    class="loading-screen position-fixed top-0 start-0 end-0 bottom-0 bg-black justify-content-center align-items-center">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div id="navSlider">

  </div>
  <nav id="navBar">

  </nav>
  <div id="icons">
  </div>
  <div class="container  section-top">
    <div class="row align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-5">
          <li class="breadcrumb-item"><a href="index.html">الصفحة الرئيسية
            </a></li>
          <li class="breadcrumb-item" aria-current="page">جميع المنتجات</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="gray-bage">
    <div class="container py-5">
      <div class="row ">
        <h3>مينتورا كوليكشن</h3>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-7  col-12 ">
        <div class="row ">
          <div class="col-lg-5 col-6 mb-4">

            <h6>

              تصفية النتائج
            </h6>

            <button type="button" class="btn btn-outline-dark px-4 " data-bs-toggle="modal" data-bs-target="#filter"
              role="group" aria-label="Basic outlined example">
              <span>
                تصفية النتائج
              </span>
              <span>
                <i class="fa-solid fa-filter"></i>
              </span>
            </button>

          </div>
          <div class="col-lg-5 col-6 mb-4">
            <h6>ترتيب حسب
            </h6>
            <select class="form-select w-auto border border-dark px-4" aria-label="Default select example">
              <option selected> ترتيب حسب</option>
              <option value="الاحدث">الاحدث</option>
              <option value="DE">الاكثر شعبية</option>
              <option value="SG">الاقل شعبية</option>
              <option value="AU">الاعلي سعر </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 d-flex justify-content-md-end">
        <p>
          تم ايجاد
          <span class="fw-bold"> 6 </span>
          منتج

        </p>
      </div>
    </div>


    <div class="row regular ">
      <div class=" p-3 col-lg-3 col-md-4 col-6">
        <a href="detailsPage.html">
          <div class="card border-0 news-card position-relative">
            <div class="img-card d-flex align-items-center">
              <img class="w-100 h-auto" src="assets/imgs/a1.jpg" />
            </div>
            <div class="card-body text-center">
              <h6 class="text-dark fw-semibold">
                <a>2301</a>
              </h6>
              <p class="card-text fs-6 mb-0 fw-bold">

                179.00 AED
              </p>
              <p class="card-text fs-6 text-secondary fw-semibold">

                متوفر بعدة حيارات
              </p>
              <button class="bg-black rounded-1 text-white fs-6  p-2 w-75 ">
                اضافة للسلة
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="p-3 col-lg-3 col-md-4 col-6 ">
        <a href="detailsPage.html">
          <div class="card border-0 news-card position-relative">
            <div class="img-card d-flex align-items-center">
              <img class="w-100 h-auto" src="assets/imgs/a2.jpg" />
            </div>
            <div class="card-body text-center">
              <h6 class="text-dark fw-semibold">
                <a>2301</a>
              </h6>
              <p class="card-text fs-6 mb-0 fw-bold">

                179.00 AED
              </p>
              <p class="card-text fs-6 text-secondary fw-semibold">

                متوفر بعدة حيارات
              </p>
              <button class="bg-black rounded-1 text-white fs-6  p-2 w-75 ">
                اضافة للسلة
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="p-3 col-lg-3 col-md-4 col-6">
        <a href="detailsPage.html">
          <div class="card border-0 news-card position-relative">
            <div class="img-card d-flex align-items-center">
              <img class="w-100 h-auto" src="assets/imgs/a3.jpg" />
            </div>
            <div class="card-body text-center">
              <h6 class="text-dark fw-semibold">
                <a>2301</a>
              </h6>
              <p class="card-text fs-6 mb-0 fw-bold">

                179.00 AED
              </p>
              <p class="card-text fs-6 text-secondary fw-semibold">

                متوفر بعدة حيارات
              </p>
              <button class="bg-black rounded-1 text-white fs-6  p-2 w-75 ">
                اضافة للسلة
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="p-3 col-lg-3 col-md-4 col-6">
        <a href="detailsPage.html">
          <div class="card border-0 news-card position-relative">
            <div class="img-card d-flex align-items-center">
              <img class="w-100 h-auto" src="assets/imgs/a4.jpg" />
            </div>
            <div class="card-body text-center">
              <h6 class="text-dark fw-semibold">
                <a>2301</a>
              </h6>
              <p class="card-text fs-6 mb-0 fw-bold">

                179.00 AED
              </p>
              <p class="card-text fs-6 text-secondary fw-semibold">

                متوفر بعدة حيارات
              </p>
              <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                اضافة للسلة
              </button>
            </div>
          </div>
        </a>
      </div>
      <div class="p-3 col-lg-3 col-md-4 col-6">
        <a href="detailsPage.html">
          <div class="card border-0 news-card position-relative">
            <div class="img-card d-flex align-items-center">
              <img class="w-100 h-auto" src="assets/imgs/a5.jpg" />
            </div>
            <div class="card-body text-center">
              <h6 class="text-dark fw-semibold">
                <a>2301</a>
              </h6>
              <p class="card-text fs-6 mb-0 fw-bold">

                179.00 AED
              </p>
              <p class="card-text fs-6 text-secondary fw-semibold">

                متوفر بعدة حيارات
              </p>
              <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                اضافة للسلة
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>




  <div id="gray-footer">
  </div>
  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>

  <div class="modal fade " id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="container">

              <div class="row gap-2 fs-6">

                <div class="col-5">
                  <h6>
                    من
                  </h6>
                  <input type="number" class="form-control" id="from" aria-describedby="emailHelp">

                </div>
                <div class="col-5">
                  <h6>الي </h6>
                  <input type="number" class="form-control" id="to" aria-describedby="emailHelp">
                </div>
                <div class="col-5">
                  <div class="py-2 my-2">
                    <input type="checkbox" id="check2" name="check2">
                    <label for="check2"> عرض التخفضيات كلها
                    </label>

                  </div>


                </div>
              </div>
            </div>
            <div class="modal-footer ">
              <button type="reset" class="btn gray-bage border-0">مسح</button>
              <button type="submit" class="btn gray-bage border-0 px-5">بحث</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>

  <script>

    AOS.init({
      once: true
    })
  </script>
</body>

</html>