<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
  <title></title>

  <style>


  </style>
</head>

<body>

  <div
    class="loading-screen position-fixed top-0 start-0 end-0 bottom-0 bg-black justify-content-center align-items-center">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div id="navSlider">

  </div>
  <nav id="navBar">

  </nav>
  <div id="icons">
  </div>


  <div class="container section-top">
    <div class="row gap-5 py-5 scrolling">
      <div class="col-lg-5  col-12">
        <div class="row row-res py-2">
          <div class="col-12">
            <img class="w-100 img-big" data-fancybox="gallery" data-src="assets/imgs/d1.jpg" src="assets/imgs/d1.jpg" />
          </div>
        </div>
        <div class="row gy-5 justify-content-between row-small">
          <div class="col-lg-6 row-res-img  zoom">
            <img class="w-100 img-big" data-fancybox="gallery" data-src="assets/imgs/d1.jpg" src="assets/imgs/d1.jpg" />
          </div>
          <div class="col-lg-6  zoom">
            <img class="w-100 img-big" data-fancybox="gallery" data-src="assets/imgs/d4.jpg" src="assets/imgs/d4.jpg" />
          </div>

          <div class="col-lg-4  zoom">
            <img class="w-100 img-big" src="assets/imgs/d3.jpg" data-fancybox="gallery" data-src="assets/imgs/d3.jpg" />
          </div>
          <div class="col-lg-4 zoom" data-fancybox="gallery" data-src="assets/imgs/d2.jpg">
            <img class="w-100 img-big" src="assets/imgs/d2.jpg" />
          </div>
          <div class="col-lg-4  zoom">
            <img class="w-100 img-big" src="assets/imgs/d5.jpg" data-fancybox="gallery" data-src="assets/imgs/d5.jpg" />
          </div>
          <div class="col-lg-4  zoom">
            <img class="w-100 img-big" src="assets/imgs/d5.jpg" data-fancybox="gallery" data-src="assets/imgs/d5.jpg" />
          </div>
          <div class="col-lg-4  zoom">
            <img class="w-100 img-big" src="assets/imgs/d5.jpg" data-fancybox="gallery" data-src="assets/imgs/d5.jpg" />
          </div>
          <div class="col-lg-4  zoom">
            <img class="w-100 img-big" src="assets/imgs/d5.jpg" data-fancybox="gallery" data-src="assets/imgs/d5.jpg" />
          </div>
        </div>
      </div>
      <div class="col-lg-5  col-12">
        <div class="row py-2">
          <h5 class="header-card p-0">#2124 </h5>
          <p class="card-text body-card fs-6 p-0">

            لينن ناعم بلونين بيج ورمادى مع الرسم اليدوى بالوسط المزيد من المعلومات
          </p>
          <h5 class="p-0">
            2,600.00 دإ

          </h5>
        </div>

        <div class="row gap-2  my-3">
          <h6 class="p-0">
            طول العباية
          </h6>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2 active">
            46.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            47.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            48.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            49.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            50.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            51.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            52.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            53.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            54.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            55.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            56.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            57.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            58.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            59.0
          </button>
          <button class="col-2 border-1 btn btn-outline-dark length rounded-0 w-auto px-2">
            60.0
          </button>
        </div>

        <div class="row gap-2  my-3">
          <h6 class="p-0">
            عرض العباية
          </h6>
          <button class="col-2 border-1 width btn btn-outline-dark rounded-0 w-auto px-2 active">
            XS ( ١٩ انش )
          </button>
          <button class="col-2 border-1 width btn btn-outline-dark rounded-0 w-auto px-2">
            S ( ٢٠-٢١ انش )
          </button>
          <button class="col-2 border-1 width btn btn-outline-dark rounded-0 w-auto px-2">
            M ( ٢٢-٢٣ انش )
          </button>
          <button class="col-2 border-1 width btn btn-outline-dark rounded-0 w-auto px-2">
            L ( ٢٤-٢٥ انش )
          </button>
          <button class="col-2 border-1 width btn btn-outline-dark rounded-0 w-auto px-2">
            XL (٢٦-٢٧ انش )
          </button>
          <button class="col-2 border-1 width btn btn-outline-dark rounded-0 w-auto px-2">
            XXL (٢٨ انش )
          </button>

        </div>

        <div class="row  my-3">
          <h6 class="p-0">
            تسكير العباية
          </h6>
          <form action="" class="p-0">
            <div class="border border-1 p-2 my-2">
              <input type="checkbox" id="check1" name="check1">
              <label for="check1" class="fs-6"> تسكير العباية من الجوانب
              </label>

            </div>
            <div class="border border-1 border-1 p-2 my-2">
              <input type="checkbox" id="check2" name="check2">
              <label for="check2" class="fs-6"> تسكير العباية من الأمام
              </label>
            </div>
          </form>
        </div>
        <div class="row  my-3">
          <h6 class="p-0">
            ملاحظات
          </h6>
          <form action="" class=" p-0 my-2">
            <input type="text" class="form-control py-2" placeholder="(لايمكن تغيير اللون او القصة او القماش)">


          </form>

        </div>
        <div class="row  my-3">
          <h6 class="p-0 fw-bold">
            الكمية
          </h6>
          <select class="form-select border border-1 rounded-0 w-100 px-4" aria-label="Default select example">
            <option selected>1</option>
            <option value="2">2</option>
            <option value="DE">3</option>
            <option value="SG">4</option>
            <option value="AU">5</option>
          </select>
        </div>
        <div class="row my-3">
          <a class="btn btn-dark rounded-1 my-2" href="cart.html">اضافة الي السلة</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <h5 class="fw-semibold text-dark py-2">
          <span>
            <i class="fa-solid fa-list-check" style="font-size:larger ;"></i>
          </span>

          وصف المنتج
        </h5>
        <p class="fs-6">
          من المخمل الاسود و الشك الفضى
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 py-2">
        <h5 class="fw-semibold text-dark py-2">
          <span>
            <i class="fa-solid fa-bars" style="font-size:larger ;"></i>

          </span>
          خيارات المنتج
        </h5>
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th scope="col">عرض العباية</th>
              <th scope="col">طول العباية </th>
              <th scope="col">صور المنتج
              </th>
              <th scope="col">السعر
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>XS (١٩ انش)
              </td>
              <td>46.0
              </td>
              <td>لا يوجد صور
              </td>
              <td>3,200.00 دإ

              </td>
            </tr>
            <tr>
              <td>XS (١٩ انش)
              </td>
              <td>46.0
              </td>
              <td>لا يوجد صور
              </td>
              <td>3,200.00 دإ

              </td>
            </tr>
            <tr>
              <td>XS (١٩ انش)
              </td>
              <td>46.0
              </td>
              <td>لا يوجد صور
              </td>
              <td>3,200.00 دإ

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="gray-footer">
  </div>
  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js">
  </script>
  <script src="assets/js/index.js">
  </script>

  <script>
    Fancybox.bind('[data-fancybox="gallery"]', {
    });
    document.addEventListener('DOMContentLoaded', function () {

      function handleButtonClick(buttons, currentButton) {
        buttons.forEach(btn => {
          if (btn !== currentButton) {
            btn.classList.remove('active');
          }
        });
        currentButton.classList.toggle('active');
      }

      const sizeButtons = document.querySelectorAll('.length');
      sizeButtons.forEach(button => {
        button.addEventListener('click', function () {
          handleButtonClick(sizeButtons, this);
        });
      });

      const widthButtons = document.querySelectorAll('.width');
      widthButtons.forEach(button => {
        button.addEventListener('click', function () {
          handleButtonClick(widthButtons, this);
        });
      });

    });
  </script>


</body>

</html>