<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Inter&family=Poppins:wght@600&family=Roboto:wght@100&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Paytone+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
  <style>



  </style>
</head>

<body>
  <div class="container py-5">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="3000">
      <div class="col-md-4 col-12">
        <h4 class=" py-2">
          من نحن
        </h4>
        <p class="p-0 fs-6">
          عنان لاين عبارة عن مؤسسة للأزياء النسائية والعبايات من تصميم مشاعل البقمي. نستخدم في منتجاتنا أجود أنواع
          الأقمشة المستوردة من أفضل المصنعين عالميًا، ونقوم بتفصيل كل عباية بالمقاسات الخاصة لكل عميلة على حدا لتصلكم
          بطريقة تلائم ذائقتكم.


        </p>
      </div>
      <div class="col-md-4 col-12 d-flex justify-content-lg-center">
        <ul class="p-0 fs-6 ">
          <li class="py-1">
            <a href="policy.html">
              الاستبدال وخدمة بعد البيع
            </a>
          </li>
          <li class="py-1">
            <a href="sizes.html" type="button" data-bs-toggle="modal" data-bs-target="#size"
              aria-label="Basic outlined example">
              دليل المقاسات
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h4 class="p-2">

          وسائل التواصل
        </h4>
        <ul class="social d-flex p-0">
          <li>
            <a href="#">
              <i class="fab fa-facebook-f icon"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter icon"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    AOS.init({
      once: true
    })
  </script>
</body>

</html>