<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
</head>

<body>
  <div
    class="loading-screen  position-fixed top-0 start-0 end-0 bottom-0 bg-black justify-content-center align-items-center">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <div id="navSlider">
  </div>
  <nav id="navBar">
  </nav>
  <div id="icons">
  </div>

  <div class="container-fluid mb-5 section-top ">
  <div class="row ">
      <img class="w-100 p-0" src="assets/imgs/75a51211-39aa-4f0c-b25e-d84b3c3b9bc2 (1).webp">
  </div>
  </div>
  <div class="container my-5">
    <div class="row ">
      <div class="col-12 ">
        <h3 class="py-4  fw-bold">
          التصنيفات
        </h3>
      </div>
    </div>
    <div class="row regular ">
      <div class="col" data-aos="zoom-in-up" data-aos-duration="700">
        <a href="">
          <img class="w-100" src="assets/imgs/icon4.png">
        </a>
      </div>
      <div class="col" data-aos="zoom-in-up" data-aos-duration="700">
        <a href="">
          <img class="w-100" src="assets/imgs/9c818c8e-259a-4c38-829f-156b63b02749.png">
        </a>
      </div>
      <div class="col" data-aos="zoom-in-up" data-aos-duration="700">
        <a href=""><img class="w-100" src="assets/imgs/cec37224-4107-4a7e-9daf-e3b29be29a0f.png">
        </a>
      </div>
      <div class="col" data-aos="zoom-in-up" data-aos-duration="700">
        <a href="">
          <img class="w-100" src="assets/imgs/anan.webp">
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid my-5">
    <div class="row">
      <img class="p-0" src="assets/imgs/bag.webp" />
    </div>
  </div>

  <div class="container my-5" data-aos="fade-up">
    <div class="row  ">
      <div class="col-12 ">
        <h3 class="py-4 fw-bold text-center">
          مينتورا كوليكشن
        </h3>
      </div>
    </div>
    <div class="row ">
      <div class=" slider2 regular direction">
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/a1.jpg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/a2.jpg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/a3.jpg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/a4.jpg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/a5.jpg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-outline-dark w-auto seeall-product"
        onclick="document.location='allProducts.html'">
        جميع المنتجات
      </button>
    </div>
  </div>
  <div class="container my-5" data-aos="fade-up">
    <div class="row">
      <div class="col-12">
        <h3 class="py-4 fw-bold text-center">الفساتين والبناطيل</h3>
      </div>
    </div>
    <div class="row ">
      <div class=" slider2 regular direction">
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/b1.jpeg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black text-white rounded-1 fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/b2.jpeg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/b3.jpeg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/b4.jpeg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
        <div class=" p-3 ">
          <a href="detailsPage.html">
            <div class="card border-0 news-card position-relative">
              <div class="img-card d-flex align-items-center">
                <img class="w-100 h-auto" src="assets/imgs/b5.jpeg" />
              </div>
              <div class="card-body text-center">
                <h6 class="text-dark fw-semibold">
                  <a>2301</a>
                </h6>
                <p class="card-text fs-6 mb-0 fw-bold">

                  179.00 AED
                </p>
                <p class="card-text fs-6 text-secondary fw-semibold">

                  متوفر بعدة حيارات
                </p>
                <button class="bg-black rounded-1 text-white fs-6 p-2 w-75 ">
                  اضافة للسلة
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-outline-dark w-auto px-5 seeall-product"
        onclick="document.location='allProducts.html'">

        المزيد
      </button>
    </div>
  </div>
  <div id="gray-footer">
  </div>
  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>

  <script>

    AOS.init({
      once: true
    })

    document.addEventListener('DOMContentLoaded', function () {
      var seeAllProductLinks = document.querySelectorAll('.seeall-product');

      seeAllProductLinks.forEach(function (link) {
        link.addEventListener('click', function () {
          console.log("hi");

          var container = this.closest('.container');
          var h3Element = container.querySelector('h3');
          var activeLinkText = h3Element.textContent.trim();
          localStorage.setItem('activeLinkText', activeLinkText);
        });
      });
    });

    $(".slider2").slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      arrows: true,
      autoplaySpeed: 1000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            infinite: true,
          },
        },
        {
          breakpoint: 919,
          settings: {
            slidesToShow: 2,
          },
        }
      ],
    });
    $(".slider1").slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 1000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            infinite: true,
          },
        },
        {
          breakpoint: 919,
          settings: {
            slidesToShow: 2,
          },
        }
      ],
    });
    $(".slider4").slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 1000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            infinite: true,
          },
        },
        {
          breakpoint: 919,
          settings: {
            slidesToShow: 2,
          },
        }
      ],
    });


    $(document).on("click", ".list-group-item .toggle", function () {
      $(this).parent().find('ul').toggleClass('d-none');
    });


  </script>
</body>

</html>