<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
</head>

<body>

  <div
    class="loading-screen position-fixed top-0 start-0 end-0 bottom-0 bg-black justify-content-center align-items-center">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>
  <nav id="navBar">
  </nav>
  <div id="icons">
  </div>
  <div class="container section-top  my-5" style="min-height: 60vh;">
    <div class="row justify-content-center">
      <div class="col-12 ">
        <h3 class="py-4 fw-bold">
          سياسة الاستبدال وخدمة مابعد البيع
        </h3>
      </div>
      <div class="col-12 fs-6 fw-light" data-aos="fade-up" data-aos-duration="1000">
        <h5 class="py-4 ">
          سياسة الاستبدال وخدمة مابعد البيع
        </h5>
        <h6 class="py-2">
          - سياسة الإرجاع والاستبدال :

        </h6>
        <p>
          لا يوجد استرجاع، الا إذا تلقيت أي مادة معيبة أو تالفة، فسنقوم بحل المشكلة بأسرع ما يمكن دون أي تكلفة عليك. ما
          عليك سوى الاتصال بنا وسنعمل معك لترتيب الإصلاح أو الاستبدال، إن أمكن، وسنصدر علامة إرجاع إذا لزم الأمر. إذا لم
          نتمكن من استبدال أو إصلاح البضائع التالفة، فستتلقى استردادًا كاملًا لهذه المواد. ستتم عمليات استرداد الأموال
          عن طريق وسيلة الدفع الأصلية .

          يمكنكم الاستبدال بمنتج آخر أو موديل آخر خلال ١٤ يوم عمل مع تحمل تكلفة الشحن التي تبلغ 200 درهم اماراتي

          يرجى الاحتفاظ بالمنتجات في عبوتها الأصلية اذا كنت تريد استبدال أي منتجات.
        </p>
        <h6 class="py-2">
          - سياسة التسليم :
        </h6>
        <p>
          نقوم بتسليم منتجاتنا إلى كافة الدول. وسيتم الشحن عن طريق ساعي الطرف الثالث. يتم التسليم من 30 إلى 60 يوم عمل
          بحسب ترتيب وأولوية الشراء. ( يرجى التواصل مع خدمة العملاء في حال وجود ملاحظات ).

          رسوم التوصيل بدولة الإمارات العربية المتحدة هي سعر ثابت قدره 37,5 درهمًا إماراتيًا ورسوم التسليم خارج دولة
          الإمارات العربية المتحدة سوف يتم ذكرها في صفحة إجراءات الخروج بناءً على الدولة والموقع. لتجنب أي تأخير في
          التسليم عن طريق تقديم عنوانك الكامل إلى جانب تفاصيل اتصالك
        </p>
        <h6 class="py-2">
          - سياسة الإصلاح :
        </h6>
        <p>
          في حال وجود منتجات يرغب العميل بإصلاحها أو تعديلها نتيجة سوء الاستخدام ، فسنقوم بعمل اللازم لإرضاء عملائنا
          الكرام ، ولكن يتحمل العميل رسوم الشحن فقط ، وسيتم عمل اللازم في غضون 30 يوم عمل .

        </p>
      </div>
    </div>
  </div>
  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>

  <script>
    AOS.init({
      once: true
    })


  </script>
</body>

</html>