<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
</head>

<body>
 
  <div id="navSlider">

  </div>
  <nav id="navBar">

  </nav>
  <div id="icons">
  </div>
  <div class="container my-lg-5 my-3  section-top">
    <div class="row align-items-center py-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html">
home
            </a></li>
            <li class="breadcrumb-item fw-semibold" aria-current="page"> edit password
            </li>
        </ol>
      </nav>
    </div>
    <h4 class=" py-3 mb-0 fw-semibold d-flex gap-2 align-items-center"><span>edit password</span></h4>

    <div class="row py-2 justify-content-between" >
      <div class=" col-12 ">
        <form>

        <div class="row table-row gy-3 justify-content-lg-between py-2 flex-column">
          <div class="col-lg-6 col-12">
            <label for="password" class="form-label fw-semibold">Password</label>
          <div class="input-group mb-3">
            <input type="password" class="form-control rounded-1 bg-gray border-0" id="password">
          </div>
        </div> 

        <div class="col-lg-6 col-12">
          <label for="Confirmpassword" class="form-label fw-semibold">Confirm password</label>
          <input type="password" class="form-control rounded-1 bg-gray border-0" id="Confirmpassword" >
        </div>
        <div class=" col-12">
          <div class="d-flex align-items-center my-3">
            <div class="d-flex gap-3 ">
              <button  class="btn  btn-dark text-white px-lg-4 px-2 button-width" type="button">
           
                save
              </button>
              <a   class="btn btn-outline-dark border-dark px-lg-4 px-2 button-width" type="button">Cancel</a>
        
            </div>
        </div>
        </div>
    </div>
  </form>
      </div>
    </div>
  </div>




  <div id="gray-footer">
  </div>
  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center flex-column align-items-center">
<img class="w-50" src="assets/imgs/home/3e3805322fb5a260f8adeeeb71628219.gif" />
<p class="fs-6">Your passwored has been changed successfully</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>

  <script>

    AOS.init({
      once: true
    })
  </script>
</body>

</html>