<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="max-snippet:-1,max-image-preview:large,max-video-preview:-1">
  <meta name="description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta name="keywords" content="tiger, Easy Returns, Wide Selection  ,Free Shipping  , Sneakers, Sports, Formal, Slip-on, Motion Graphics,offers,discounts,chance">
  <meta name="author" content="tiger">
  <meta name="image" content="https://emcan-group.com/emcan.jpg">
  <meta property="og:title" content="tiger Company">
  <meta property="og:description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://emcan-group.com/emcan.webp">
  <meta property="og:url" content="https://emcan-group.com/en">
  <meta property="og:site_name" content="tiger Company">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="tiger Company">
  <meta name="twitter:title" content="tiger Company">
  <meta name="twitter:description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta name="twitter:site" content="@tiger">
  <meta name="csrf-token" content="UA03C1pxmumaEQe8eqQuogEL9x4lDE8HyhaSlguZ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="orJ7ZbMHiPkMYkLCmiZpVFPHiWeJYzxBdmYrqe4q-0E" />
      <meta content='max-age=604800' http-equiv='Cache-Control'/>
  <include expiration='7d' path='*.css'/>
  <include expiration='7d' path='*.js'/>
  <include expiration='3d' path='*.gif'/>
  <include expiration='3d' path='*.jpeg'/>
  <include expiration='3d' path='*.jpg'/>
  <include expiration='3d' path='*.png'/>
  <include expiration='3d' path='*.webp'/>
  <include expiration='3d' path='*.ico'/>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
</head>

<body>
 
  <div class="position-fixed congratulation top-0 start-0 end-0 bottom-0 ">

    <div class="js-container" style="top:0px !important;"></div>
    </div>
  <div id="navSlider">

  </div>
  <nav id="navBar">

  </nav>
  <div id="icons">
  </div>

  <div class="container my-lg-5 my-3  section-top">
    <div class="row align-items-center py-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html">
            Home
            </a></li>
            <li class="breadcrumb-item fw-semibold" aria-current="page">Contact Us
            </li>
        </ol>
      </nav>
    </div>
    <h4 class=" py-3 mb-0 fw-semibold d-flex gap-2 align-items-center">Contact us</h4>

    <div class="row py-2 justify-content-between" >
      <div class="card col-12 p-0">
        <div class="card-header fs-6 text-white bg-black py-3 fw-semibold ">
          Get In Touch With Us
        </div>
        <div class="card-body">
          <form>
            <div class="row gap-5 table-row py-2">
              <div class="col-lg-4 col-12 ">
                <div class="border-connect border-bottom py-4">
                <div >
                        <span> Phone Number</span>
                    </div>
                    <div class=" text-secondary">
                      <a class="text-secondary text-decoration-underline" href="tel:(+973) 55642310"><small>0012334566</small></a>
                  </div>
                </div>
                <div class="border-connect border-bottom py-4">
                  <div >
                          <span>Email Address</span>
                      </div>
                      <div class=" ">
                        <a class="text-secondary text-decoration-underline" href="mailto:Johndoe@example.com"><small>Johndoe@example.com</small></a>
                    </div>
                  </div>
                  <div class="border-connect border-bottom py-4">
                    <div >
                            <span>Location</span>
                        </div>
                        <div class=" text-secondary">
                          <a class="text-secondary text-decoration-underline" href=""><small>Lorem Ipsum</small></a>
                      </div>
                    </div>
              </div>
                
      
               
              <div class="col-lg-7 col-12">
                <div class="row table-row py-2 gap-3">
                  <h6 class="">Send us a message</h6>
                  <div class="col-lg-5 col-12">
                    <div class="input-group mb-3">
                      <input type="text" placeholder="Your Name" class="form-control rounded-1 border-0 bg-gray fs-6 fw-normal" id="name">
                    </div>
                  </div>
                  <div class="col-lg-5 col-12">
                  <div class="input-group mb-3">
                    <input type="text" placeholder="your email" class="form-control rounded-1 border-0 bg-gray fs-6 fw-normal" id="email">
                  </div>
                </div>
                <div class="col-lg-5 col-12">
                <div class="input-group mb-3">
                  <input type="tel" placeholder="Phone Number" class="form-control rounded-1 border-0 bg-gray fs-6 fw-normal" id="phone">
                </div>
              </div> 
        
              <div class="col-lg-5 col-12">
              <div class="input-group mb-3">
                <input type="text" placeholder="subject" class="form-control rounded-1 border-0 bg-gray fs-6 fw-normal" id="subject">
              </div>
            </div>

          <div class="col-12">
          <div class="input-group mb-3">
            <textarea style="resize: none;" placeholder="Message" class="form-control rounded-1 border-0 bg-gray fs-6 fw-normal" id="message" rows="5">
            </textarea>
          </div>
        </div>

        <div class="col-12">
          <div class="d-flex align-items-center justify-content-md-start justify-content-center my-3">
            <div class="d-flex gap-3 ">
              <a  class="btn  btn-dark text-white px-lg-4 px-2 button-width" type="button">
           
                send message
         </a>
        
            </div>
        </div>
        </div>
        
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class=" ">

        </div>
    </div>



    </div>
 
  <div class="container-fluid my-5" data-aos="fade-up">
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h3 class="py-4 fw-semibold">YOU MAY ALSO LIKE</h3>
      </div>
    </div>
    <div class="row ">
      <div class=" slider1 slider-title regular ">
        <div class=" p-2 ">
          <div class="card  border-0 rounded-0  position-relative p-2">
            <div
              class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle">
              <a href="washList.html">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <path
                    d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z"
                    stroke="#1E1E1E" stroke-width="1.5" />
                </svg>
              </a>
            </div>
            <a href="detailsPage.html">

              <div class="img-card d-flex align-items-center bg-white">
                <img class="w-100 h-auto" />
              </div>
            </a>
            <div class="card-body px-0">
              <h6 class="text-black d-flex justify-content-between ">
                <span class="fw-semibold ">Nike Downshifter 12</span>
                <span>
                  <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                      viewBox="0 0 20 20" fill="none">
                      <path
                        d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z"
                        fill="#F9A000" />
                    </svg>
                    <span>(4.5)</span>
                  </span>

                </span>

              </h6>
              <p class="card-text text-secondary fw-bold mb-0">
                <small>Regular fit</small>
              </p>
              <div class="card-text my-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="color active" style="border-color: #0C0C0C !important;"
                    data-img="assets/imgs/home/pngwing 2.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #172B85 !important;"
                    data-img="assets/imgs/home/pngwing 5.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #CE1126 !important;"
                    data-img="assets/imgs/home/Frame 13.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #F9A000 !important;"
                    data-img="assets/imgs/home/pngwing 7.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #00ffd5 !important;"
                    data-img="assets/imgs/home/pngwing 3.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-text d-flex justify-content-between align-items-center">
                                                  <div class="d-flex">

              <h6 class="text-black fw-semibold mb-0">
        <span class=" ">36000 </span>
<span>BD</span>
      </h6>
      <h6 class="text-secondary text-decoration-line-through mb-0 px-2">
        <span class=" ">30000 </span>
<span>BD</span>                  </h6>

      </div>
                <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class=" p-2 ">
          <div class="card  border-0 rounded-0  position-relative p-2">
            <div
              class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle">
              <a href="washList.html">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <path
                    d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z"
                    stroke="#1E1E1E" stroke-width="1.5" />
                </svg>
              </a>
            </div>
            <a href="detailsPage.html">

              <div class="img-card d-flex align-items-center bg-white">
                <img class="w-100 h-auto" />
              </div>
            </a>
            <div class="card-body px-0">
              <h6 class="text-black d-flex justify-content-between ">
                <span class="fw-semibold ">Nike Downshifter 12</span>
                <span>
                  <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                      viewBox="0 0 20 20" fill="none">
                      <path
                        d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z"
                        fill="#F9A000" />
                    </svg>
                    <span>(4.5)</span>
                  </span>

                </span>

              </h6>
              <p class="card-text text-secondary fw-bold mb-0">
                <small>Regular fit</small>
              </p>
              <div class="card-text my-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="color " style="border-color: #0C0C0C !important;"
                    data-img="assets/imgs/home/pngwing 2.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
                    </div>
                  </div>
                  <div class="color active" style="border-color: #172B85 !important;"
                    data-img="assets/imgs/home/pngwing 5.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #CE1126 !important;"
                    data-img="assets/imgs/home/Frame 13.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #F9A000 !important;"
                    data-img="assets/imgs/home/pngwing 7.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #00ffd5 !important;"
                    data-img="assets/imgs/home/pngwing 3.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-text d-flex justify-content-between align-items-center">
                                                  <div class="d-flex">

              <h6 class="text-black fw-semibold mb-0">
        <span class=" ">36000 </span>
<span>BD</span>
      </h6>
      <h6 class="text-secondary text-decoration-line-through mb-0 px-2">
        <span class=" ">30000 </span>
<span>BD</span>                  </h6>

      </div>
                <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class=" p-2 ">
          <div class="card  border-0 rounded-0  position-relative p-2">
            <div
              class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle">
              <a href="washList.html">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <path
                    d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z"
                    stroke="#1E1E1E" stroke-width="1.5" />
                </svg>
              </a>
            </div>
            <a href="detailsPage.html">

              <div class="img-card d-flex align-items-center bg-white">
                <img class="w-100 h-auto" />
              </div>
            </a>
            <div class="card-body px-0">
              <h6 class="text-black d-flex justify-content-between ">
                <span class="fw-semibold ">Nike Downshifter 12</span>
                <span>
                  <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                      viewBox="0 0 20 20" fill="none">
                      <path
                        d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z"
                        fill="#F9A000" />
                    </svg>
                    <span>(4.5)</span>
                  </span>

                </span>

              </h6>
              <p class="card-text text-secondary fw-bold mb-0">
                <small>Regular fit</small>
              </p>
              <div class="card-text my-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="color " style="border-color: #0C0C0C !important;"
                    data-img="assets/imgs/home/pngwing 2.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #172B85 !important;"
                    data-img="assets/imgs/home/pngwing 5.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
                    </div>
                  </div>
                  <div class="color active" style="border-color: #CE1126 !important;"
                    data-img="assets/imgs/home/Frame 13.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #F9A000 !important;"
                    data-img="assets/imgs/home/pngwing 7.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #00ffd5 !important;"
                    data-img="assets/imgs/home/pngwing 3.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-text d-flex justify-content-between align-items-center">
                                                  <div class="d-flex">

              <h6 class="text-black fw-semibold mb-0">
        <span class=" ">36000 </span>
<span>BD</span>
      </h6>
      <h6 class="text-secondary text-decoration-line-through mb-0 px-2">
        <span class=" ">30000 </span>
<span>BD</span>                  </h6>

      </div>
                <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class=" p-2 ">
          <div class="card  border-0 rounded-0  position-relative p-2">
            <div
              class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle">
              <a href="washList.html">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <path
                    d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z"
                    stroke="#1E1E1E" stroke-width="1.5" />
                </svg>
              </a>
            </div>
            <a href="detailsPage.html">

              <div class="img-card d-flex align-items-center bg-white">
                <img class="w-100 h-auto" />
              </div>
            </a>
            <div class="card-body px-0">
              <h6 class="text-black d-flex justify-content-between ">
                <span class="fw-semibold ">Nike Downshifter 12</span>
                <span>
                  <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                      viewBox="0 0 20 20" fill="none">
                      <path
                        d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z"
                        fill="#F9A000" />
                    </svg>
                    <span>(4.5)</span>
                  </span>

                </span>

              </h6>
              <p class="card-text text-secondary fw-bold mb-0">
                <small>Regular fit</small>
              </p>
              <div class="card-text my-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="color " style="border-color: #0C0C0C !important;"
                    data-img="assets/imgs/home/pngwing 2.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #172B85 !important;"
                    data-img="assets/imgs/home/pngwing 5.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #CE1126 !important;"
                    data-img="assets/imgs/home/Frame 13.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
                    </div>
                  </div>
                  <div class="color active" style="border-color: #F9A000 !important;"
                    data-img="assets/imgs/home/pngwing 7.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #00ffd5 !important;"
                    data-img="assets/imgs/home/pngwing 3.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-text d-flex justify-content-between align-items-center">
                <div class="d-flex">

<h6 class="text-black fw-semibold mb-0">
<span class=" ">36000 </span>
<span>BD</span>
</h6>
<h6 class="text-secondary text-decoration-line-through mb-0 px-2">
<span class=" ">30000 </span>
<span>BD</span>                  </h6>

</div>
<a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
</div>
            </div>
          </div>
        </div>
        <div class=" p-2 ">
          <div class="card  border-0 rounded-0  position-relative p-2">
            <div
              class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle">
              <a href="washList.html">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none">
                  <path
                    d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z"
                    stroke="#1E1E1E" stroke-width="1.5" />
                </svg>
              </a>
            </div>
            <a href="detailsPage.html">

              <div class="img-card d-flex align-items-center bg-white">
                <img class="w-100 h-auto" />
              </div>
            </a>
            <div class="card-body px-0">
              <h6 class="text-black d-flex justify-content-between ">
                <span class="fw-semibold ">Nike Downshifter 12</span>
                <span>
                  <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                      viewBox="0 0 20 20" fill="none">
                      <path
                        d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z"
                        fill="#F9A000" />
                    </svg>
                    <span>(4.5)</span>
                  </span>

                </span>

              </h6>
              <p class="card-text text-secondary fw-bold mb-0">
                <small>Regular fit</small>
              </p>
              <div class="card-text my-2">
                <div class="d-flex gap-2 flex-wrap">
                  <div class="color " style="border-color: #0C0C0C !important;"
                    data-img="assets/imgs/home/pngwing 2.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #172B85 !important;"
                    data-img="assets/imgs/home/pngwing 5.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #CE1126 !important;"
                    data-img="assets/imgs/home/Frame 13.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
                    </div>
                  </div>
                  <div class="color " style="border-color: #F9A000 !important;"
                    data-img="assets/imgs/home/pngwing 7.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
                    </div>
                  </div>
                  <div class="color active" style="border-color: #00ffd5 !important;"
                    data-img="assets/imgs/home/pngwing 3.png">
                    <div class="border-white  border-2 w-100 h-100">
                      <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-text d-flex justify-content-between align-items-center">
                                                  <div class="d-flex">

              <h6 class="text-black fw-semibold mb-0">
        <span class=" ">36000 </span>
<span>BD</span>
      </h6>
      <h6 class="text-secondary text-decoration-line-through mb-0 px-2">
        <span class=" ">30000 </span>
<span>BD</span>                  </h6>

      </div>
                <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center flex-column align-items-center">
          <img class="w-50 p-3" src="assets/imgs/home/delete.gif" />
          <p class="fs-6">are you sure you want to delete this item?</p>
          <p class="d-inline-flex gap-1 align-items-center">
            <a href="#" class="btn btn-sm btn-outline-secondary px-3 py-2" role="button" data-bs-toggle="button"
              aria-pressed="true">No, cancel it</a>
            <a class="btn btn-sm btn-danger px-3 py-2" aria-disabled="true" role="button" data-bs-toggle="button">Yes,
              delete it</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="gray-footer">
  </div>
  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>

  <script>
    AOS.init({
      once: true
    })
    $(document).ready(function () {
  $('.btn-group .increase').on('click', function () {
    var counterSpan = $(this).siblings('.quantity');
    var currentValue = parseInt(counterSpan.text());
    counterSpan.text(currentValue + 1);
  });
  $('.btn-group .decrese').on('click', function () { 
    var counterSpan = $(this).siblings('.quantity');
    var currentValue = parseInt(counterSpan.text());
    if (currentValue > 1) {
      counterSpan.text(currentValue - 1);
    }
  });
});
  </script>
    <script>

      function preventFormSubmission(event) {
            event.preventDefault();   
            triggerConfettiAnimation();
      
          }
      
      
          $(document).ready(function(){
        $("#success").click(function(){
          $(".congratulation").fadeToggle();
        });
      });
      
      
      // let confetti = new Confetti('success');
      // confetti.setCount(50);
      // confetti.setSize(3);
      // confetti.setPower(75);
      // confetti.setFade(true);
      // // confetti.destroyTarget(true);
      // confetti.destroyTarget(false);
      
      
      
      const Confettiful = function(el) {
        this.el = el;
        this.containerEl = null;
        
        this.confettiFrequency = 10;
        this.confettiColors = ['#EF2964', '#00C09D', '#2D87B0', '#48485E','#EFFF1D'];
        this.confettiAnimations = ['slow', 'medium', 'fast'];
        
        this._setupElements();
        this._renderConfetti();
      };
      
      Confettiful.prototype._setupElements = function() {
        const containerEl = document.createElement('div');
        const elPosition = this.el.style.position;
        
        if (elPosition !== 'relative' || elPosition !== 'absolute') {
          this.el.style.position = 'relative';
        }
        
        containerEl.classList.add('confetti-container');
        
        this.el.appendChild(containerEl);
        
        this.containerEl = containerEl;
      };
      
      Confettiful.prototype._renderConfetti = function() {
        this.confettiInterval = setInterval(() => {
          const confettiEl = document.createElement('div');
          const confettiSize = (Math.floor(Math.random() * 3) + 7) + 'px';
          const confettiBackground = this.confettiColors[Math.floor(Math.random() * this.confettiColors.length)];
          const confettiLeft = (Math.floor(Math.random() * this.el.offsetWidth)) + 'px';
          const confettiAnimation = this.confettiAnimations[Math.floor(Math.random() * this.confettiAnimations.length)];
          
          confettiEl.classList.add('confetti', 'confetti--animation-' + confettiAnimation);
          confettiEl.style.left = confettiLeft;
          confettiEl.style.width = confettiSize;
          confettiEl.style.height = confettiSize;
          confettiEl.style.backgroundColor = confettiBackground;
          
          confettiEl.removeTimeout = setTimeout(function() {
            confettiEl.parentNode.removeChild(confettiEl);
          }, 3000);
          
          this.containerEl.appendChild(confettiEl);
        }, 25);
      };
      
      window.confettiful = new Confettiful(document.querySelector('.js-container'));
      
      </script>
      <script>
         var lang = localStorage.getItem('Language');
  var Diriction = false ;
  if (lang == "العربية") {
    Diriction = true ;
  }
          $(".slider1").slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      rtl:Diriction,
      autoplaySpeed: 1000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            infinite: true,
          },
        },
        {
          breakpoint: 919,
          settings: {
            slidesToShow: 2,
          },
        },{
          breakpoint: 619,
          settings: {
            slidesToShow: 1,
          },
        }
      ],
    });
    document.addEventListener("DOMContentLoaded", function() {
    const productCards = document.querySelectorAll('.slider-title .card');

    function initializeProductCard(card) {
        const colorButtons = card.querySelectorAll('.color');

        const defaultButton = Array.from(colorButtons).find(button => button.classList.contains('active'));
        if (defaultButton) {
            changeProductImage(defaultButton, card);
        }

        colorButtons.forEach(button => {
            button.addEventListener('click', function () {
                handleButtonClick(colorButtons, this);
                changeProductImage(this, card);
            });
        });
    }

    function handleButtonClick(buttons, currentButton) {
        buttons.forEach(btn => {
            if (btn !== currentButton) {
                btn.classList.remove('active');
            }
        });
        currentButton.classList.toggle('active');
    }

    function changeProductImage(button, card) {
        const newImageSrc = button.getAttribute('data-img');
        const productImage = card.querySelector('.img-card img');
        productImage.src = newImageSrc;
    }

    // Initialize each product card
    productCards.forEach(card => {
        initializeProductCard(card);
    });
});
      </script>
</body>

</html>