<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="max-snippet:-1,max-image-preview:large,max-video-preview:-1">
  <meta name="description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta name="keywords" content="tiger, Easy Returns, Wide Selection  ,Free Shipping  , Sneakers, Sports, Formal, Slip-on, Motion Graphics,offers,discounts,chance">
  <meta name="author" content="tiger">
  <meta name="image" content="https://emcan-group.com/emcan.jpg">
  <meta property="og:title" content="tiger Company">
  <meta property="og:description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://emcan-group.com/emcan.webp">
  <meta property="og:url" content="https://emcan-group.com/en">
  <meta property="og:site_name" content="tiger Company">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="tiger Company">
  <meta name="twitter:title" content="tiger Company">
  <meta name="twitter:description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta name="twitter:site" content="@tiger">
  <meta name="csrf-token" content="UA03C1pxmumaEQe8eqQuogEL9x4lDE8HyhaSlguZ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="orJ7ZbMHiPkMYkLCmiZpVFPHiWeJYzxBdmYrqe4q-0E" />
      <meta content='max-age=604800' http-equiv='Cache-Control'/>
  <include expiration='7d' path='*.css'/>
  <include expiration='7d' path='*.js'/>
  <include expiration='3d' path='*.gif'/>
  <include expiration='3d' path='*.jpeg'/>
  <include expiration='3d' path='*.jpg'/>
  <include expiration='3d' path='*.png'/>
  <include expiration='3d' path='*.webp'/>
  <include expiration='3d' path='*.ico'/>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/css/intlTelInput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
  <style>
    .carousel-indicators {
  bottom: 5%;

}


  </style>
</head>

<body>
 
  <div class="" id="navBar">
  </div>
<div class="container-fluid section-top ">
  <div class="row">

    <div class="col-lg-6 col-12" id="LogInPage">
      
<div class="h-100 w-100 d-flex justify-content-center align-items-center">
  <form class=" w-75 py-5">
    <h6 class="text-secondary">WELCOME HERE</h6>
    <h4 class=" py-3 mb-0 header-div fw-bold d-flex gap-2 align-items-center">Log In</h4>
    <div class="mb-3 d-flex text-secondary fw-semibold">
      <span>Don’t you have an account?</span>
      <span class="px-2"><a class="text-black text-decoration-none" id="CreateAccount">Sign Up</a></span>
        </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Phone Number</label>
      <div class="input-group mb-3">
        <input type="tel" class="form-control rounded-1 bg-gray border-0  phone"  placeholder="1203328425"  >
      </div>    </div>
    <div class="mb-3 " >
      <label for="exampleInputPassword1" class="form-label">
        <span> Password</span>
      
      </label>
      <div class="mb-3 password-container">
        <input type="password" class="form-control rounded-1 border-0 py-2 bg-gray" id="exampleInputPassword1">
        <button  class="toggle-password TogglePasswordBtns" tabindex="-1"><i class="fa-regular fa-eye"></i></button>
      </div>
      
      <div class="d-flex justify-content-end" id="ForgetPassWordButton">
        <a class="text-secondary  fw-medium text-decoration-none" style="font-size: 14px;">
          Forget password!
        </a>
      </div>
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
  <div class="col-12">
    <a href="index.html" class="btn-dark btn text-white px-5 py-2 mb-3 w-100 ">Login</a>

  </div>
  
  
  </form>
</div>


    </div>
 
    <div class="col-lg-6 col-12" id="RegisterPage" hidden>
      <div class="h-100 w-100 d-flex justify-content-center align-items-center">

<form class="w-75">
  <div class="row">
  <h6 class="text-secondary">WELCOME HERE</h6>
  <h4 class=" py-3 mb-0 fw-bold header-div d-flex gap-2 align-items-center">Create New Account</h4>
  <div class="mb-3 d-flex text-secondary fw-semibold">
    <span>Already have an account?</span>
    <span class="px-2"><a class="text-black text-decoration-none GoToLogInPageButton" id="LoginAccount">Login</a></span>
      </div>
      <div class="col-lg-6 col-12">
        <label for="name" class="form-label ">User Name*</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control rounded-1 bg-gray border-0" id="name">
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <label for="email" class="form-label ">email*</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control rounded-1 bg-gray border-0" id="email">
    </div>
  </div>
  <div class="mb-3 col-12">
    <label for="exampleInputEmail1" class="form-label">Email Address</label>
    <input type="email" class="form-control bg-gray rounded-1 border-0" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="col-12 mb-3">
    
      <label for="exampleInputEmail1" class="form-label">Phone Number</label>
      <div class="input-group mb-3">
        <input type="tel" class="form-control rounded-1 bg-gray border-0  phone"  placeholder="1203328425"  >
      </div>    
  </div>
    <label for="exampleInputPassword1" class="form-label d-flex justify-content-between">
      <span>Password</span>
    </label>
    <div class="mb-3  col-12">
      <div class="password-container">
        <input type="password" class="form-control rounded-1 bg-gray border-0 " id="exampleInputPassword1">
      <button  class="toggle-password TogglePasswordBtns" tabindex="-1"><i class="fa-regular fa-eye"></i></button>
      </div>
    
    </div>
<div class="col-12">
  <button class="btn-dark btn text-white px-5 py-2 mb-3 w-100 " > Create an account </button>

</div>


</div>
</form>
</div>
    </div>
    <div class="col-lg-6 col-12" id="ForgetPassword" hidden >
      <div class="h-100 w-100 d-flex justify-content-center align-items-center">

<form class="w-75">
  <div class="row">
    <h6 class="text-secondary">FIRST STEP/3</h6>
    <h4 class=" py-3 mb-0 header-div fw-bold d-flex gap-2 align-items-center">Forget Password</h4>
    <h6 class="text-secondary mb-lg-3 mb-1">Enter your email below to receive password instructions</h6>

  <div class="mb-3 col-12">
    <label for="email" class="form-label ">email*</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control rounded-1 bg-gray border-0" id="email">
    </div>
  </div>
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
<div class="col-12">
  <button  class="btn-dark btn text-white px-5 py-2 mb-3 w-100 " id="ConfirmCreation">Submit </button>

</div>
  </div>
</form>
      </div>
    </div>

    <div class="col-lg-6 col-12 "  id="OtpDiv" hidden >
      <div class="h-100 w-100 d-flex justify-content-center align-items-center">

      <form class="w-75"   >
          <h6 class="text-secondary">SECOND STEP/3</h6>
          <h4 class=" py-3 mb-0 fw-bold header-div d-flex gap-2 align-items-center">Reset Password</h4>
          <h6 class="text-secondary mb-lg-3 mb-1">Please enter reset password code below that was sent to AhmedMohamed@gamil.com</h6>
          <label for="otp" class="form-label ">code</label>
          <div class="mb-3 d-flex gap-2">
          <input type="text"  data-id="1" maxlength="1" class="verify form-control rounded-2 py-2 px-1 "  >
          <input type="text"  data-id="2" maxlength="1" class="verify form-control rounded-2 py-2  px-1 "   >
          <input type="text"  data-id="3" maxlength="1" class="verify form-control rounded-2 py-2  px-1 "   >
          <input type="text"  data-id="4" maxlength="1" class="verify form-control rounded-2 py-2  px-1 "   >
          <input type="text"  data-id="5" maxlength="1" class="verify form-control rounded-2 py-2  px-1  "   >
          <input type="text"  data-id="6" maxlength="1" class="verify form-control rounded-2 py-2  px-1 "   >
      
        </div>
        <div class="otp fs-6 pb-4"> resend otp within   
          <span class="counter">60</span>
          <span>seconds</span>
        </div>

        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
      
        <a class="btn-dark btn text-white px-5 py-2 mb-3 w-100 "  data-bs-toggle="modal" data-bs-target="#exampleModal">Confirm</a>
        <div class="d-flex justify-content-center">
          <a type="button" class="text-secondary fs-6 fw-medium text-decoration-underline resend" 
          >
          Resent code again
        </a>
        </div>
      </form>
    </div>
          </div>
          <div class="col-lg-6 p-0 col-12 h-auto">
            <img src="assets/imgs/home/e37b241538f2d8febac99dfa76d61d23.jpg" class="img-fluid">
                </div>
  </div>
  
</div>


<div class="" id="footer">
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content ">

        <div class="modal-body">
          <div class="container my-3">
            <div class="row d-flex justify-content-center flex-column align-items-center  px-3">
              <img class="w-img-popup" src="assets/imgs/home/3e3805322fb5a260f8adeeeb71628219.gif" />
              <p class="fs-5 fw-semibold text-center">Password Reset!</p>
              <p class="fs-6 fw-medium text-black-50 text-center">Your password has been successfully reset, Click below to continue your access</p>

              <a class="btn-dark btn text-white px-5 py-2 mb-3 w-100 " href="login.html">Return to login screen</a>

                      </div>
              </div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/js/intlTelInput.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>
  <script src="assets/js/LogIn.Js"></script>
  <script>
    AOS.init({
      once: true
    })
    let inputs = document.querySelectorAll(".phone");
    inputs.forEach(function(input) {
window.intlTelInput(input, ["bh", "eg", "sd"],{

    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/js/utils.js",
  });   });
  </script>

<script>
$(document).ready(() => {
  // Selecting elements
  var counterElement = $('.counter');
  var otpElement = $('.otp');
  var resendElement = $('.resend');
  var confirmCreationButton = $('#ConfirmCreation');

  var count = 59;
  var intervalId;
  var initialCount = count;

  function updateCounter() {
    counterElement.text(count);
    count--;
    if (count < 0) {
      clearInterval(intervalId);
      otpElement.fadeOut(100, function() {
        resendElement.fadeIn(1000);
      });
    }
  }

  // Function to start the countdown
  function startCountdown() {
    count = initialCount;
    counterElement.text(count);
    intervalId = setInterval(updateCounter, 1000); // Set interval only once
  }

  // Event listener for the button click
  confirmCreationButton.on('click', function() {
    startCountdown();
  });

  resendElement.on('click', function() {
    resendElement.fadeOut(100, function() {
      otpElement.fadeIn(1000);
      clearInterval(intervalId); 
      startCountdown(); 
    });
  });
});

</script>
</body>

</html>