<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="max-snippet:-1,max-image-preview:large,max-video-preview:-1">
  <meta name="description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta name="keywords" content="tiger, Easy Returns, Wide Selection  ,Free Shipping  , Sneakers, Sports, Formal, Slip-on, Motion Graphics,offers,discounts,chance">
  <meta name="author" content="tiger">
  <meta name="image" content="https://emcan-group.com/emcan.jpg">
  <meta property="og:title" content="tiger Company">
  <meta property="og:description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://emcan-group.com/emcan.webp">
  <meta property="og:url" content="https://emcan-group.com/en">
  <meta property="og:site_name" content="tiger Company">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="tiger Company">
  <meta name="twitter:title" content="tiger Company">
  <meta name="twitter:description" content="tiger is Bring You To Update New Fantastic Footwear With Us, Enjoy The Whole Experience.">
  <meta name="twitter:site" content="@tiger">
  <meta name="csrf-token" content="UA03C1pxmumaEQe8eqQuogEL9x4lDE8HyhaSlguZ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="orJ7ZbMHiPkMYkLCmiZpVFPHiWeJYzxBdmYrqe4q-0E" />
      <meta content='max-age=604800' http-equiv='Cache-Control'/>
  <include expiration='7d' path='*.css'/>
  <include expiration='7d' path='*.js'/>
  <include expiration='3d' path='*.gif'/>
  <include expiration='3d' path='*.jpeg'/>
  <include expiration='3d' path='*.jpg'/>
  <include expiration='3d' path='*.png'/>
  <include expiration='3d' path='*.webp'/>
  <include expiration='3d' path='*.ico'/>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/Responsive.css">
  <title></title>
</head>

<body>
 
  <div id="navSlider">

  </div>
  <nav id="navBar">

  </nav>
  <div id="icons">
  </div>
  <div class="container my-lg-5 my-3  section-top">
    <div class="row align-items-center py-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html">
              Home
            </a></li>
          <li class="breadcrumb-item fw-semibold" aria-current="page">wishlist
          </li>
        </ol>
      </nav>
    </div>
    <h4 class=" py-3 mb-0 fw-semibold d-flex gap-2 align-items-center">wishlist</h4>
    <div class="row gy-3 regular slider-title">
    <div class=" col-lg-3 col-md-6 col-12 liked-card">
      <div class="card  border-0 rounded-0  position-relative p-2">

        <div class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" >
          <path d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z" stroke="#1E1E1E" stroke-width="1.5"/>
        </svg>
        </div>
        <a href="detailsPage.html">
        
        <div class="img-card d-flex align-items-center bg-white">
        <img class="w-100 h-auto"  />
        </div>
        </a>
        <div class="card-body px-0">
        <h6 class="text-black d-flex justify-content-between ">
          <span class="fw-semibold ">Nike Downshifter 12</span>
          <span>
        <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20" fill="none">
        <path d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z" fill="#F9A000"/>
        </svg>
        <span>(4.5)</span>
        </span>
        
          </span>
        
        </h6>
        <p class="card-text text-secondary fw-bold mb-0">
        <small>Regular fit</small>
        </p>
        <div class="card-text my-2">
          <div class="d-flex gap-2 flex-wrap">
            <div class="color active" style="border-color: #0C0C0C !important;" data-img="assets/imgs/home/pngwing 2.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #172B85 !important;" data-img="assets/imgs/home/pngwing 5.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #CE1126 !important;" data-img="assets/imgs/home/Frame 13.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #F9A000 !important;" data-img="assets/imgs/home/pngwing 7.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #00ffd5 !important;" data-img="assets/imgs/home/pngwing 3.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-text d-flex justify-content-between align-items-center">
          <h6 class="text-black fw-semibold mb-0">
            <span class=" ">36000 </span>
        <span>BD</span>
          </h6>
          <h6 class="text-secondary text-decoration-line-through mb-0">
            <span class=" ">30000 </span>
        <span>BD</span>                  </h6>
        <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        </div>
        </div>
        
  </div>
      <div class=" col-lg-3 col-md-6 col-12 liked-card">
        <div class="card  border-0 rounded-0  position-relative p-2">
  
          <div class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" >
            <path d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z" stroke="#1E1E1E" stroke-width="1.5"/>
          </svg>
          </div>
          <a href="detailsPage.html">
          
          <div class="img-card d-flex align-items-center bg-white">
          <img class="w-100 h-auto"  />
          </div>
          </a>
          <div class="card-body px-0">
          <h6 class="text-black d-flex justify-content-between ">
            <span class="fw-semibold ">Nike Downshifter 12</span>
            <span>
          <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20" fill="none">
          <path d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z" fill="#F9A000"/>
          </svg>
          <span>(4.5)</span>
          </span>
          
            </span>
          
          </h6>
          <p class="card-text text-secondary fw-bold mb-0">
          <small>Regular fit</small>
          </p>
          <div class="card-text my-2">
            <div class="d-flex gap-2 flex-wrap">
              <div class="color " style="border-color: #0C0C0C !important;" data-img="assets/imgs/home/pngwing 2.png">
                <div class="border-white  border-2 w-100 h-100">
                  <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
                </div>
              </div>
              <div class="color " style="border-color: #172B85 !important;" data-img="assets/imgs/home/pngwing 5.png">
                <div class="border-white  border-2 w-100 h-100">
                  <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
                </div>
              </div>
              <div class="color active" style="border-color: #CE1126 !important;" data-img="assets/imgs/home/Frame 13.png">
                <div class="border-white  border-2 w-100 h-100">
                  <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
                </div>
              </div>
              <div class="color " style="border-color: #F9A000 !important;" data-img="assets/imgs/home/pngwing 7.png">
                <div class="border-white  border-2 w-100 h-100">
                  <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
                </div>
              </div>
              <div class="color " style="border-color: #00ffd5 !important;" data-img="assets/imgs/home/pngwing 3.png">
                <div class="border-white  border-2 w-100 h-100">
                  <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text d-flex justify-content-between align-items-center">
            <h6 class="text-black fw-semibold mb-0">
              <span class=" ">36000 </span>
          <span>BD</span>
            </h6>
            <h6 class="text-secondary text-decoration-line-through mb-0">
              <span class=" ">30000 </span>
          <span>BD</span>                  </h6>
          <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
          </div>
          </div>
          
    </div>
    <div class=" col-lg-3 col-md-6 col-12 liked-card">
      <div class="card  border-0 rounded-0  position-relative p-2">

        <div class="position-absolute  liked-icon  d-flex align-items-center justify-content-center rounded-circle" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" >
          <path d="M3.66275 13.2136L9.82377 19.7066C11.0068 20.9533 12.9932 20.9534 14.1762 19.7066L20.3372 13.2136C22.5542 10.8771 22.5543 7.08895 20.3373 4.75248C18.1203 2.416 14.5258 2.416 12.3088 4.75248V4.75248C12.1409 4.92938 11.8591 4.92938 11.6912 4.75248V4.75248C9.47421 2.416 5.87975 2.416 3.66275 4.75248C1.44575 7.08895 1.44575 10.8771 3.66275 13.2136Z" stroke="#1E1E1E" stroke-width="1.5"/>
        </svg>
        </div>
        <a href="detailsPage.html">
        
        <div class="img-card d-flex align-items-center bg-white">
        <img class="w-100 h-auto"  />
        </div>
        </a>
        <div class="card-body px-0">
        <h6 class="text-black d-flex justify-content-between ">
          <span class="fw-semibold ">Nike Downshifter 12</span>
          <span>
        <span class="text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20" fill="none">
        <path d="M9.09459 2.67704C9.45471 1.91058 10.545 1.91073 10.9049 2.67729L12.6322 6.35641C12.7737 6.65774 13.0559 6.86892 13.3848 6.91971L17.3294 7.52872C18.1333 7.65283 18.4606 8.63367 17.8923 9.21564L14.9781 12.2002C14.7561 12.4276 14.6554 12.747 14.7068 13.0606L15.3879 17.2153C15.523 18.0395 14.648 18.6564 13.9171 18.2522L10.489 16.3564C10.1881 16.19 9.8228 16.1898 9.52178 16.356L6.08622 18.2524C5.35533 18.6558 4.48108 18.039 4.61614 17.2151L5.29759 13.0585C5.34902 12.7448 5.24823 12.4253 5.02608 12.198L2.1084 9.21134C1.53992 8.62943 1.86715 7.64838 2.67113 7.52425L6.61533 6.9153C6.94423 6.86452 7.22631 6.65345 7.36783 6.35225L9.09459 2.67704Z" fill="#F9A000"/>
        </svg>
        <span>(4.5)</span>
        </span>
        
          </span>
        
        </h6>
        <p class="card-text text-secondary fw-bold mb-0">
        <small>Regular fit</small>
        </p>
        <div class="card-text my-2">
          <div class="d-flex gap-2 flex-wrap">
            <div class="color " style="border-color: #0C0C0C !important;" data-img="assets/imgs/home/pngwing 2.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #0C0C0C;"></div>
              </div>
            </div>
            <div class="color active" style="border-color: #172B85 !important;" data-img="assets/imgs/home/pngwing 5.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #172B85;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #CE1126 !important;" data-img="assets/imgs/home/Frame 13.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #CE1126;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #F9A000 !important;" data-img="assets/imgs/home/pngwing 7.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #F9A000;"></div>
              </div>
            </div>
            <div class="color " style="border-color: #00ffd5 !important;" data-img="assets/imgs/home/pngwing 3.png">
              <div class="border-white  border-2 w-100 h-100">
                <div class="w-100 h-100 rounded-circle" style="background-color: #00ffd5;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-text d-flex justify-content-between align-items-center">
          <h6 class="text-black fw-semibold mb-0">
            <span class=" ">36000 </span>
        <span>BD</span>
          </h6>
          <h6 class="text-secondary text-decoration-line-through mb-0">
            <span class=" ">30000 </span>
        <span>BD</span>                  </h6>
        <a class="btn btn-dark" href="shoppingCart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        </div>
        </div>
        
  </div>
        </div>
      </div>

  <footer id="footer">
  </footer>
  <div id="sideNav">
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center flex-column align-items-center">
          <div class="row d-flex justify-content-center flex-column align-items-center  px-3">
            <img class="w-img-popup" src="assets/imgs/home/3e3805322fb5a260f8adeeeb71628219.gif" />
            <p class="fs-5 fw-semibold text-center">item Removed</p>
            <p class="fs-6 fw-medium text-black-50 text-center">Your Removed has been successfully removed from wishlist</p>

            <a class="btn-dark btn text-white px-5 py-2 mb-3 w-100 " href="allProducts.html ">Return to continue shopping</a>

                    </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="assets/js/index.js"></script>

  <script>

    AOS.init({
      once: true
    })
    $(document).ready(function () {
        $('.liked-icon').on('click', function () {
            var parentDiv = $(this).closest('.liked-card');
            if (parentDiv.length) {
                parentDiv.remove();
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
    const productCards = document.querySelectorAll('.slider-title .card');

    function initializeProductCard(card) {
        const colorButtons = card.querySelectorAll('.color');

        const defaultButton = Array.from(colorButtons).find(button => button.classList.contains('active'));
        if (defaultButton) {
            changeProductImage(defaultButton, card);
        }

        colorButtons.forEach(button => {
            button.addEventListener('click', function () {
                handleButtonClick(colorButtons, this);
                changeProductImage(this, card);
            });
        });
    }

    function handleButtonClick(buttons, currentButton) {
        buttons.forEach(btn => {
            if (btn !== currentButton) {
                btn.classList.remove('active');
            }
        });
        currentButton.classList.toggle('active');
    }

    function changeProductImage(button, card) {
        const newImageSrc = button.getAttribute('data-img');
        const productImage = card.querySelector('.img-card img');
        productImage.src = newImageSrc;
    }

    // Initialize each product card
    productCards.forEach(card => {
        initializeProductCard(card);
    });
});
  </script>
</body>

</html>